
include home-header

#controls.container
	#top.row
		- for (var i = 0; i < org.inv.length; i++)
			div(id=org.inv[i].name).span4
				.header
					.name= org.inv[i].name
					.inventory #{org.inv[i].fields[0].avail} / #{org.inv[i].fields[0].total}
				img(src='/img/services/'+org.inv[i].name+'/'+org.inv[i].name+'.png')

	- for (var i = 0; i < org.inv.length; i++)
		- var category = org.inv[i];
		div(id=category.name+'-o').row
			- for (var k = 0; k < category.fields.length; k++)
				//- temp nonsense to space out showers ...	
				- var dbl = (category.fields.length == 2 && k==0) ? 'offset2' : '';
				- var field = category.fields[k];
				- if (field.name == 'veteran') continue;
				div(id=category.name+'-'+field.name, class=dbl).span4.opt
					.header
						.name #{field.name} #{category.name}
						.inventory #{field.avail} / #{field.total}
					.image
						img(src='/img/services/'+category.name+'/'+field.name+'.png').ib
						img(src='/img/services/'+category.name+'/'+field.name+'-left.png').slice.il
						img(src='/img/services/'+category.name+'/'+field.name+'-right.png').slice.ir


script(src='/vendor/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/home/home-header.js')
script(src='/js/home/control-panel.js')