
- invs = JSON.stringify(inv)
input(type='hidden', value=invs)#inv

div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container-fluid
			ul#global-nav.nav.pull-left
				a(href='#').brand Control Panel
			button#btn-logout.btn.btn-primary
				i.icon-lock.icon-white
				| Sign Out

div(style='margin:60px 0 0 20px') 
	p Welcome #{data.name} !
	button#skt-button.btn.btn-primary
		i.icon-lock.icon-white
		| Click Me!

.container
	#top.row
		#beds.span4
			.header	
				.name beds
				.inventory #{inv.beds.total[0]} / #{inv.beds.total[1]}
			img(src='/img/admin/bed.png')
		#showers.span4
			.header	
				.name showers
				.inventory #{inv.showers.total[0]} / #{inv.showers.total[1]}
			img(src='/img/admin/shower.png')
		#meals.span4
			.header	
				.name meals
				.inventory #{inv.meals.total[0]} / #{inv.meals.total[1]}
			img(src='/img/admin/meals.png')

	#beds-o.row
		#beds-male.span4.opt
			.header
				.name male beds
				.inventory #{inv.beds.male[0]} / #{inv.beds.male[1]}
			.image
				img(src='/img/admin/bed-male.png').ib
				img(src='/img/admin/bed-male-left.png').slice.il
				img(src='/img/admin/bed-male-right.png').slice.ir
		#beds-female.span4.opt
			.header
				.name female beds
				.inventory #{inv.beds.female[0]} / #{inv.beds.female[1]}
			.image
				img(src='/img/admin/bed-female.png').ib
				img(src='/img/admin/bed-female-left.png').slice.il
				img(src='/img/admin/bed-female-right.png').slice.ir
		#beds-family.span4.opt
			.header
				.name family beds
				.inventory #{inv.beds.family[0]} / #{inv.beds.family[1]}
			.image
				img(src='/img/admin/bed-family.png').ib
				img(src='/img/admin/bed-family-left.png').slice.il
				img(src='/img/admin/bed-family-right.png').slice.ir

	#showers-o.row
		#showers-male.offset2.span4.opt
			.header
				.name male showers
				.inventory #{inv.showers.male[0]} / #{inv.showers.male[1]}
			.image
				img(src='/img/admin/shower-male.png').ib
				img(src='/img/admin/shower-male-left.png').slice.il
				img(src='/img/admin/shower-male-right.png').slice.ir
		#showers-female.span4.opt
			.header
				.name female showers
				.inventory #{inv.showers.female[0]} / #{inv.showers.female[1]}
			.image
				img(src='/img/admin/shower-female.png').ib
				img(src='/img/admin/shower-female-left.png').slice.il
				img(src='/img/admin/shower-female-right.png').slice.ir

	#meals-o.row
		#meals-bfast.span4.opt
			.header
				.name breakfast
				.inventory  #{inv.meals.bfast[0]} / #{inv.meals.bfast[1]}
			.image
				img(src='/img/admin/meals-breakfast.png').ib
				img(src='/img/admin/meals-breakfast-left.png').slice.il
				img(src='/img/admin/meals-breakfast-right.png').slice.ir
		#meals-lunch.span4.opt
			.header
				.name lunch
				.inventory #{inv.meals.lunch[0]} / #{inv.meals.lunch[1]}
			.image
				img(src='/img/admin/meals-lunch.png').ib
				img(src='/img/admin/meals-lunch-left.png').slice.il
				img(src='/img/admin/meals-lunch-right.png').slice.ir
		#meals-dinner.span4.opt
			.header
				.name dinner
				.inventory #{inv.meals.dinner[0]} / #{inv.meals.dinner[1]}
			.image
				img(src='/img/admin/meals-dinner.png').ib
				img(src='/img/admin/meals-dinner-left.png').slice.il
				img(src='/img/admin/meals-dinner-right.png').slice.ir


script(src='/vendor/jquery.min.js')
script(src='/socket.io/socket.io.js')
script(src='/js/home.js')